* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #14555A;
	color: white;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Brush Script MT", cursive;
	color: #B8907B;
}

nav {
	background-color: #495F73;
	padding: 10px;
}

nav a {
	font-family: "Arial", sans-serif;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
}

nav a:hover {
	background-color: #9BB9BF;
	color: black;
}

button {
	font-family: "Arial", sans-serif;
	background-color: #465354;
	color: white; 
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #B8907B;
	color: black;
}
