body{
	background-color: #B8907B; /*sandy pink*/
}

h1{
	color: #9BB9BF; /*light blue*/
	font-family: "Segoe Script", cursive;
}

h2{
	color: #465354;
	font-family: "Segoe Script", cursive;
}

h3{
	color: #465354;
	font-family: "Segoe Script", cursive;
}

h4{
	color: #465354;
	font-family: "Segoe Script", cursive;
}

p{
	color: white;
	font-family: "Georgia", serif;
}
